.destinations__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
}
.card {
  max-width: 400px;
  width: 100%;
  list-style: none;
  padding: 0;
}
.card__title {
  margin: 0;
  padding: 10px 0;
}
.card__description {
  padding-bottom: 30px;
  margin: 0;
}
.card__image {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 8px;
}

.destinations__title {
  margin: 0;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .page {
    /* padding: 0 20px; */
  }
}
